<h2>Bank Dashboard</h2>

<div *ngIf="user">

    <p><strong>Welcome </strong>{{user.name}}</p>
    <p><strong>Email : </strong>{{user.email}}</p>
    <p><strong>Account Number : </strong>{{user.accountNumber}}</p>
    <p><strong>Account Type : </strong>Savings</p>
    <p><strong>Balance :</strong>₹{{user.balance}}</p>
    <p><strong>Last Login :</strong>{{user.lastLogin}}</p>

    <hr>

    <h3>Transactions</h3>

    <label>Amount :</label>
    <input type="number" [(ngModel)]="amount" name="transactionAmount"><br><br>


    <button (click)="withdraw()">withdraw</button>
    <button (click)="deposit()">Deposit</button><br><br>

    <hr>

    <h2>Fixed Deposit</h2>

    <div *ngIf="user.fixedDeposit.length>0; else noFd">

        <div *ngFor="let fd of user.fixedDeposit; let i = index">

              <p><strong>FD Amount: </strong>₹{{fd.fdAmount}}</p>
                <p><strong>Interest: </strong>{{fd.interestRate}}%</p>
                <p><strong>Years: </strong>{{fd.years}}</p>
                <p><strong>Start Date: </strong>{{fd.startingDate|date}}</p>
                <p><strong>Maturity Date: </strong>{{fd.maturityDate|date}}</p>
                <p><strong>Maturity Amount</strong> ₹{{fd.maturityAmount}}</p><br>

                <button (click)="closeFd(i)">Close FD</button>

        </div>

    </div>

    <ng-template #noFd>
        <h3>No Fixed Deposit is There in this account</h3>

    </ng-template>

    </div>

    <hr>

   
        <h3>Create Fixed Deposit</h3>
    <form>
          

        <label>FD Amount (minimum 10000) :</label>
        <input type="number" [(ngModel)]="fdAmount" name="fdAmount"><br><br>

        <label>Interest Rate :</label>
        <input type="number" [(ngModel)]="interestRate" name="interestRate"><br><br>

        <label>Duration Years :</label>
        <input type="number" [(ngModel)]="years" name="years"><br><br>


        <button (click)="fixedDeposit()">Create FD</button>
    </form><br>

    <button (click)="logout()">Logout</button>