<form (ngSubmit)="addNominee()"><br>
    <label>Name of Nominee </label>
    <input type="text" ><br><br>

    <label>Date of Birth </label>
    <input type="date"><br><br>

    <label>Address </label>
    <input type="text"><br><br>

    <label>Choose Relation with Nominee</label><br><br>
    <select style="font-size: 19px;">
        <option>Father/Mother</option>
        <option>Son/Daughter</option>
        <option>Friend</option>
        <option>Aunt/Uncle</option>
        <option>Other</option>
    </select><br><br>

    <button type="submit">Submit</button>
</form>
